#b4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#b4 h2 {
  margin-top: 5rem;
  text-transform: uppercase;
  font-family: 'Times New Roman', serif;
  text-align: center;
  color: #403E4B;
}
.serif {
  font-family: Georgia, 'Times New Roman', Times, serif
}
#b4 p {
  color: #5a5769;
}

#b4 em {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #403E4B;
  font-size: 0.8rem;
  margin-top: 2rem;
}
.underline {
  display: block;
  width: 4em;
  border-bottom: 2px solid #c5c5c5;
  height: 4px;
}

#exp-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 60%;
  max-width: 60rem;
  margin-top: 3rem;
}

.exp-item {
  display: flex;
  width: 18rem;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.exp-item img {
  align-self: center;
  height: 3.5rem;
  width: 3.5rem;
}
.exp-item p {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  color: #5a5769;
}