section#b6 {
  height: 60vh;
  color: #403e4b;
}

#b6-main-container {
  max-height: 100%;
  display: flex;
  justify-content: center;
}

#b6-contact-form {
  height: 40vh;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #ff0000;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-column {
  display: flex;
  flex-direction: column;
}

#clients {
  margin-left: 3vw;
  max-height: 100%;
}

#clients .container {
  display: flex;
  width: 20vw;
  height: 90%;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}

#clients img {
  width: 8vw;
}

/* Footer */

footer {
  font-family: "Arial";
  font-size: 0.6rem;
  padding-top: 10vh;
  height: 43vh;
  background-image: url("./images/bgk-footer.png");
  background-size: cover;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  color: #fff;
}

footer .container-column {
  flex: 0 1 20%;
}

#footer-brand {
  display: flex;
  margin-bottom: 1vh;
}

#footer-logo-container {
  height: 50%;
}

#footer-brand p {
  font-size: 1.4rem;
  margin-left: 0.7vw;
  color: #3c7290;
}

#footer-legal-links {
  display: flex;
  margin-top: 10vh;
  flex-direction: row;
  justify-content: space-between;
}

#footer h2 {
  font-family: "Arial";
  text-align: left;
  color: #fff;
  margin-bottom: 2vh;
}

#footer-studio .image-container {
  height: 3vh;
}

footer input[type="text"] {
  color: rgb(206, 206, 206);
  background: transparent;
}

#footer-social button {
  background-color: rgba(206, 206, 206, 0.5);
}

#footer-contact-form {
  /* height: 8vh; */
}
