/* General  */

.flex {
  display: flex;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-column {
  display: flex;
  flex-direction: column;
}

/* Section 6 */

section#b6 {
  padding-top: 10vh;
  height: 80vh;
  justify-content: center;
  align-items: center;
  color: #403e4b;
}

#b6-main-container {
  max-height: 100%;
  display: flex;
  justify-content: center;
}

#b6-contact-form {
  height: 40vh;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#clients {
  margin-left: 3vw;
  max-height: 100%;
}

#multi-image-container {
  max-width: 435px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#b6 .image-container {
  flex: 0 0 30%;
  padding: 5%;
}

#clients img {
  width: 100%;
  height: auto;
  display: block;
}

/* Footer */

footer {
  font-family: "Arial";
  font-size: 0.6rem;
  padding-top: 10vh;
  height: 43vh;
  background-image: url("./images/bgk-footer.png");
  background-size: cover;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  color: #fff;
}

footer .container-column {
  flex: 0 1 20%;
}

#footer-brand {
  display: flex;
  margin-bottom: 1vh;
}

#footer-logo-container {
  height: 50%;
}

#footer-brand p {
  font-size: 1.4rem;
  margin-left: 0.7vw;
  color: #3c7290;
}

#footer-legal-links {
  display: flex;
  margin-top: 10vh;
  flex-direction: row;
  justify-content: space-between;
}

/* Our Studio */

#footer-studio {
  margin-left: 3vw;
}

#footer h2 {
  font-family: "Arial";
  text-align: left;
  color: #fff;
  margin-bottom: 6vh;
}

#footer-studio .image-container {
  height: 3vh;
  margin-right: 1.3vw;
}

/* Stay in Touch */

footer input[type="text"] {
  height: 4vh;
  color: rgb(206, 206, 206);
  background: transparent;
}

#footer-social button {
  border: none;
  margin-top: 0;
  height: 4vh;
  background-color: rgba(206, 206, 206, 0.5);
}

#paper-arrow-icon {
  margin-top: -10px;
  color: #fff;
}

#social-links {
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
}

.social-link {
  margin-right: 1vw;
}

#copyright {
  text-align: end;
  margin-top: 6vh;
}
